.contact{
    background: url('../../assets/images/6.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.contact-form{
    @apply w-full p-8 bg-white rounded-lg md:w-2/3 lg:w-1/2;
}

.input-group{
    @apply my-4;
}

.input-label{
    @apply block;
}

.input-field{
    @apply block w-full p-2 my-1 outline-none bg-white-smoke;
}