.header{
    @apply w-full h-[10vh] md:h-[15vh] absolute z-[99] text-white top-0 left-0  border-b border-primary/50 transition-all duration-500;
}

.header-sticky{
    @apply fixed bg-white border-none shadow-lg text-primary-dark;
}

.nav__link{
    @apply text-2xl md:text-3xl lg:text-[14px] whitespace-nowrap;
}

.hamburger{
    @apply p-1 relative z-[999];
}

.hamburger__bar{
    @apply w-8 h-[2px] my-1;
}

.hamburger--active .hamburger__bar:first-child{
    @apply rotate-45 translate-y-[1px];
}

.hamburger--active .hamburger__bar:last-child{
    @apply -rotate-45 -translate-y-1;
}

/* .header__search{
    @apply relative inline-block w-4 h-4 bg-transparent border border-white rounded-full outline-none;
}

.header__search:focus{
    @apply h-8 w-28;
}

.header__search__wrapper{
    @apply relative rounded-full;
}

.header__search__wrapper::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 7px;
    height: 1px;
    background: #fff;
    transform: rotate(45deg) translateX(-10px) translateY(6px);
} */
