.testimonial__comment::after{
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -40px;
    left: 100px;
    border-top: 20px solid #f7f7f7;
    border-left: 20px solid #f7f7f7;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
}