@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&family=Teko:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply font-poppins text-primary-dark cursor-none scroll-smooth;
  }
}

@layer components{
  .app{
    @apply relative;
  }

  .loader{
    animation: fade-out 1.5s linear 1.5s 1 forwards;
    @apply absolute top-1/2 w-2/3 h-[1px] left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white-smoke z-[999];
  }

  @keyframes fade-out {
    0%{
      @apply scale-[1] opacity-100;
    }
    100%{
      @apply scale-[1.5] opacity-0;
    }
  }

  .loader::after{
    animation: loading .75s linear  infinite ;
    @apply content-[''] absolute top-0 left-1/2 w-0 h-full -translate-x-1/2 bg-gray/50;
  }

  @keyframes loading {
    0%{
      width: 0;
    }
    100%{
      width: 100%;
    }
  }

  .app::after{
    @apply content-[''] absolute top-0 left-0 w-full h-1/2 bg-gray z-[900] overflow-hidden;
  }

  .app::before{
    @apply content-[''] absolute bottom-0 left-0 w-full h-1/2 bg-gray z-[900] overflow-hidden;
  }
}

.app-loaded::after{
  @apply h-0 transition-all duration-1000;
}

.app-loaded::before{
  @apply h-0 transition-all duration-1000;
}

@layer utilities{
  .clip-top{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .clip-full{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}